---
import Layout from "../../layouts/base.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Category from "../../components/Category.astro";

// fetch api a categorias
const url = `https://edifimaksystem.com/Api_Edifimak/categoria/axeijclkxcdz`;
const resp = await fetch(url);
const { data } = await resp.json();
---

<Layout title="Edifimak - Categorias" bodyClass="bg-slate-900">
   <Header />

   <section class="pt-16 bg-contact bg-center bg-cover bg-no-repeat">
      <div
         class="hero grow shrink-0 px-6 py-24 md:py-36 md:px-16 flex items-center"
      >
         <div class="container grow 2xl:max-w-[1344px]">
            <div class="md:flex items-center justify-center">
               <div class="text-center">
                  <h2 class="text-2xl font-bold uppercase text-white">
                     Categorías
                  </h2>
               </div>
            </div>
         </div>
      </div>
   </section>

	<section class="py-12 px-1 lg:py-24 lg:px-14 bg-slate-900">
      <div class="container relative space-y-10 2xl:max-w-[1344px]">
         <div
            class="mx-auto grid gap-x-3 gap-y-6 lg:gap-y-12 lg:gap-x-6 justify-items-center" id="categorias"
         >
            {
               data.categ?.map((categories: { description: string; img: string; }) => (
                  <Category
                     name={ categories.description }
                     image={ categories.img }
                  />
               
               ))
            }
         </div>

      </div>

	</section>


   <Footer />
</Layout>

<style >
   #categorias {
      display: grid;
      grid-template-columns: repeat( auto-fit,minmax(195px,1fr) );
   }
   @media (min-width: 1024px) {
      #categorias {
         grid-template-columns: repeat( auto-fit,minmax(270px,1fr) );
      }

   }
</style>