---
export interface Props {
   name: string;
   image: string;
}

const { image, name } = Astro.props;
---

<div
   class="flex flex-col mx-auto w-full rounded-lg overflow-hidden hover:scale-105 transition"
>
   <a
      href={`/edifimak/categorias/${name
         .toLowerCase()
         .toLowerCase()
         .replace(/ /g, "-")
         .replace(/[^\w-]+/g, "")}`}
      class="relative block bg-[#019939]"
   >
      <figure class="overflow-hidden w-full">
         <img
            src={image}
            alt={name}
            width="318"
            height="318"
            class="h-full w-full object-cover object-center"
         />
      </figure>
      <figcaption class="text-center lg:text-base font-bold py-3 text-gray-100">
         {name}
      </figcaption>
   </a>
</div>
