---
import Category from "./Category.astro";

// fetch api a categorias
const url = `https://api.escuelajs.co/api/v1/categories`;
const resp = await fetch(url);
const data = await resp.json();

// console.log(data);

---

<div class="w-full mx-auto bg-slate-900">
   <div class="border-t border-[#ffffff1a]"></div>
</div>
<section class="py-12 px-1 lg:py-24 lg:px-14 bg-slate-900" id="categorias">
   <div class="container relative space-y-10 2xl:max-w-[1344px]">
      <div class="md:flex items-center justify-center">
         <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
            <h2
               class="text-xl lg:text-2xl leading-tight font-bold after:w-10 after:h-1 after:mx-auto after:mt-4 after:bg-sky-600 after:block after:rounded text-white"
            >
               Categorías
            </h2>
         </div>
      </div>

      <div
         class="mx-auto grid grid-cols-2 gap-x-1 gap-y-7 lg:gap-y-12 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 justify-items-center"
      >
         {
            data?.slice(0, 4).map((categories: { name: string; image: string; }) => (
               <Category
                  name={ categories.name }
                  image={ categories.image }
               />
              
            ))
         }
      </div>
   </div>
</section>
