---
---

<header
   class="home fixed top-0 w-full z-30 transition duration-300 ease-out bg-slate-800"
>
   <nav class="group navbar ">
      <div
         class="container max-lg:group-[.navbar]:block lg:px-8 relative grow group-[.navbar]:flex group-[.navbar]:items-stretch 2xl:max-w-[1344px]"
      >
         <div class="flex items-stretch shrink-0 min-h-[4rem]">
            <a
               class="flex items-center relative grow-0 shrink-0 px-3"
               href="/"
            >
               <picture>
                  <source
                     srcset="https://ayllukaypi.pe/public/img/ayllu-kaypi-2.avif"
                     type="image/avif"
                  />
                  <source
                     srcset="https://ayllukaypi.pe/public/img/ayllu-kaypi-2.webp"
                     type="image/webp"
                  />
                  <img
                     class="max-h-12"
                     src="https://ayllukaypi.pe/public/img/ayllu-kaypi-2.png"
                     alt="Ayllu Kaypi - aquí hogar, aquí familia"
                  />
               </picture>
            </a>

            <div class="flex items-center gap-3 ml-auto lg:hidden px-3">
               <button
                  data-target="navbar-mobile"
                  class="inline-flex items-center p-2 text-sm text-gray-500 rounded-md lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 navbar-burger"
                  aria-controls="navbar-default"
                  aria-expanded="false"
                  aria-label="menu"
               >
                  <svg
                     class="w-6 h-6"
                     aria-hidden="true"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg"
                  >
                     <path
                        fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                  </svg>
               </button>
            </div>
         </div>

         <nav
            class="navbar-menu hidden top-0 lg:grow lg:shrink-0 lg:flex lg:items-stretch max-lg:shadow-lg max-lg:py-2 max-lg:px-0 max-lg:overflow-auto max-lg:items-center max-lg:grow max-lg:shrink-0 transition"
            id="navbar-mobile"
            aria-labelledby="header-navigation"
         >
            <h2 class="sr-only" id="header-navigation">Menú de Navegación</h2>

            <ul
               class="font-semibold lg:flex lg:items-center justify-end ml-auto"
            >
               <li>
                  <a
                     class="text-white transition py-2 px-3 uppercase block shrink-0 grow-0 relative md:flex md:items-center"
                     href="/"
                  >
                     Inicio
                  </a>
               </li>

               <li>
                  <a
                     class="text-white transition hover:text-white/75 py-2 px-3 uppercase block shrink-0 grow-0 relative md:flex md:items-center"
                     href="/edifimak/nosotros"
                  >
                     Nosotros
                  </a>
               </li>

               <li>
                  <a
                     class="text-white transition hover:text-white/75 py-2 px-3 uppercase block shrink-0 grow-0 relative md:flex md:items-center"
                     href="/edifimak/tienda"
                  >
                     Tienda
                  </a>
               </li>

               <li>
                  <a
                     class="text-white transition hover:text-white/75 py-2 px-3 uppercase block shrink-0 grow-0 relative md:flex md:items-center"
                     href="/edifimak/contacto"
                  >
                     Contacto
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </nav>
</header>

<script type="module">
   const $navbarBurger = document.querySelector(".navbar-burger");

   $navbarBurger.addEventListener("click", () => {
      // Get the target from the "data-target" attribute
      const target = $navbarBurger.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $navbarBurger.classList.toggle("max-lg:block");
      $target.classList.toggle("max-lg:block");
   });
</script>
