---
---

<section class="pt-16 bg-contact bg-center bg-cover bg-no-repeat">
   <div
      class="hero grow shrink-0 px-6 py-32 md:py-36 md:px-16 flex items-center"
   >
      <div class="container grow 2xl:max-w-[1344px] md:py-16">
         <div class="md:flex items-center justify-center">
            <div class="text-center">
               <h2 class="text-2xl font-bold uppercase text-white">
                  Contacto
               </h2>
            </div>

            <!-- <div class="block basis-0 flex-shrink flex-grow p-2">
               <figure class="relative">
                  <picture>
                     <source srcset={ferreHeaderAvif} type="image/avif" />
                     <source srcset={ferreHeaderWebp} type="image/webp" />
                     <img
                        class="w-full rounded-md shadow-xl ring-8 ring-gray-700 ring-opacity-90 lg:h-full lg:w-auto"
                        width="2000"
                        height="1058"
                        src={ferreHeader}
                        alt="Edifimak"
                     />
                  </picture>
               </figure>
            </div> -->
         </div>
      </div>
   </div>
</section>
