---
---

<section class="py-12 px-6 lg:py-24 lg:px-14 relative bottom-28 md:bottom-36 lg:bottom-44 w-full ">
   <div class="container relative space-y-10 2xl:max-w-[1344px]">
      <div
         class="mx-auto space-y-10 sm:grid sm:grid-cols-2 sm:gap-8 sm:space-y-0 lg:grid-cols-3 justify-items-center"
      >
         <article
            class="w-64 lg:w-80 mx-auto rounded-2xl overflow-hidden group transition bg-slate-50 shadow-md"
         >
            <div class="relative block p-6 space-y-6">
               <div
                  class="rounded-full flex items-center justify-center bg-slate-900 w-20 h-20 mx-auto"
               >
                  <span>1</span>
               </div>
               <div class="text-center">
                  <h4 class="text-lg font-bold">Teléfono</h4>
               </div>
               <div class="text-center">
                  <p>999 999 999</p>
               </div>
            </div>
         </article>
         <article
            class="w-64 lg:w-80 mx-auto rounded-2xl overflow-hidden group transition bg-slate-50 shadow-md"
         >
            <div class="relative block p-6 space-y-6">
               <div
                  class="rounded-full flex items-center justify-center bg-slate-900 w-20 h-20 mx-auto"
               >
                  <span>1</span>
               </div>
               <div class="text-center">
                  <h4 class="text-lg font-bold">Dirección</h4>
               </div>
               <div class="text-center">
                  <p>Chiclayo, Perú</p>
               </div>
            </div>
         </article>
         <article
            class="w-64 lg:w-80 mx-auto rounded-2xl overflow-hidden group transition bg-slate-50 shadow-md"
         >
            <div class="relative block p-6 space-y-6">
               <div
                  class="rounded-full flex items-center justify-center bg-slate-900 w-20 h-20 mx-auto"
               >
                  <span>1</span>
               </div>
               <div class="text-center">
                  <h4 class="text-lg font-bold">Horarios</h4>
               </div>
               <div class="text-center">
                  <p>Lun-Sab: 08:00 AM - 06:30 PM</p>
               </div>
            </div>
         </article>
      </div>
   </div>
</section>
