---
import { Product } from "./Product";

// fetch api a productos
const url = `https://edifimaksystem.com/Api_Edifimak/producto/axeijclkxcdz`;
const resp = await fetch(url);
const { data } = await resp.json();

// console.log(data.produc);
---

<section class="py-12 px-1 lg:py-24 lg:px-14 bg-slate-900">
   <div class="container relative space-y-10 2xl:max-w-[1344px]">
      <div class="md:flex items-center">
         <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
            <h2
               class="text-xl lg:text-2xl leading-tight font-bold after:w-10 after:h-1 after:mx-auto after:mt-4 after:bg-[#019939] after:block after:rounded text-white"
            >
               Productos
            </h2>
         </div>
      </div>

      <div
         class="mx-auto w-full grid gap-x-3 gap-y-6 lg:gap-y-12 lg:gap-x-6 justify-center" id="products"
      >
         {
            data.produc?.slice(0, 16).map(
               (products: {
                  categoria: string;
                  title: string;
                  precio: number;
                  img: string;
               }) => (
                  <Product client:load
                     category={products.categoria}
                     title={products.title}
                     price={products.precio}
                     image={products.img}
                  />
               )
            )
         }
      </div>
   </div>
</section>

<style >
   #products {
      display: grid;
      grid-template-columns: repeat( auto-fill,minmax( min(100%, 195px), 1fr) );
   }
   @media (min-width: 1024px) {
      #products {
         grid-template-columns: repeat( auto-fill,minmax(270px,1fr) );
      }

   }
</style>
