---
import Product from "./Product.astro";

// fetch api a productos
const url = `https://api.escuelajs.co/api/v1/products?offset=0&limit=12`;
const resp = await fetch(url);
const data = await resp.json();

// console.log(products);
---

<section class="py-12 px-1 lg:py-24 lg:px-14 bg-slate-900">
   <div class="container relative space-y-10 2xl:max-w-[1344px]">
      <div class="md:flex items-center">
         <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
            <h2
               class="text-xl lg:text-2xl leading-tight font-bold after:w-10 after:h-1 after:mx-auto after:mt-4 after:bg-sky-600 after:block after:rounded text-white"
            >
               Productos
            </h2>
         </div>
      </div>

      <div
         class="mx-auto grid grid-cols-2 gap-x-1 gap-y-7 lg:gap-y-12 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 justify-items-center"
      >
         {
            data?.map(
               (products: {
                  category: { name: string };
                  title: string;
                  price: number;
                  images: string[];
               }) => (
                  <Product
                     category={products.category.name}
                     title={products.title}
                     price={products.price}
                     images={products.images}
                  />
               )
            )
         }
      </div>
   </div>
</section>
