---

---

<section class="py-12 px-6 lg:py-24 lg:px-14 bg-slate-900 relative bottom-32">
   <div class="container relative space-y-10 2xl:max-w-[1344px]">
      <div class="md:flex items-center">
         <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
            <h2
               class="text-xl lg:text-2xl leading-tight font-bold after:w-10 after:h-1 after:mx-auto after:mt-4 after:bg-sky-600 after:block after:rounded text-white"
            >
               Ubicación
            </h2>
         </div>
      </div>

      <div class="md:flex items-center">
         <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
            <iframe class="w-full aspect-video" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15855.491280165217!2d-80.0134908!3d-6.5377412!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x35e2fec19214ed54!2sEDIFIMAK!5e0!3m2!1ses-419!2spe!4v1671469648866!5m2!1ses-419!2spe" width="800" height="600" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </div>
      </div>

   </div>
</section>